snippet Template "LaTeX Template for Course Notes" w
\documentclass{article}
\usepackage{amssymb}
\usepackage{bbm}
%%%% TIPS %%%%
% \mathbbm{1} => Identity
% \mathbbm{R} => Real numbers
% \mathbbm{I} => Imaginary Numbers
% \mathbbm{C} => Complex Numbers
\begin{document}
\mathbbm{1}
\end{document}
endsnippet

snippet Template "LaTeX Template for Homework Assignments" w
b
endsnippet
